<div class="container text-center">
  <h2 >Sobre mi</h2>
  <p>¿Quien soy?</p>
</div>
<div class="container bg-primary-dark">
    <div class="d-flex">
      <div class="align-self-center">
        <h3 class="text-center pb-4 font-weight-bold text-secondary-dark">
          Con mas de 1 año en el mundo del desarrollo
        </h3>
        <div class="text-center">
          <p>
            Programador Web y multiplaforma. Continuamente aprendiendo, adquiriendo nuevas habilidades, queriendo asumir nuevas responsabilidades y crecer profesionalmente.
          </p>
          <p>
            Apasionado con el trabajo que realizo, ofreciendo y aportando mis conocimientos, habilidades y experiencia, así como nuevas ideas y soluciones en cada proyecto.
          </p>
          <a href="assets/cv_guillermo_lillo_lopez.pdf" class="btn btn-default" target="_blank" class="btn btn-primary-light btn-outline-secondary-light mt-4">Descargar CV</a>
        </div>
      </div>
      <img src="./assets/about-img.jpg" alt="about-img" class="border border-2 border-secondary">
    </div>
</div>
