<header class="fixed-top" [ngClass]="scrolling ? 'header-animation-fadein' : '' ">
  <nav class="container d-flex py-2">
  <a href="#init"><img src="./assets/logo.png" alt="logo" width="40"></a>
    <div class="ms-5 col-5 d-flex justify-content-around align-items-center text-decoration-none">
      <a href="#init">Inicio</a>
      <a href="#about-me">Sobre mi</a>
      <a href="#proyects">Proyectos</a>
      <a href="#knowledge">Conocimientos</a>
      <a href="#contact">Contacto</a>
    </div>
  </nav>
</header>
