.header-animation-fadein {
  animation: show-bg-navbar-in 0.5s forwards;
  animation-play-state: running;
}

@keyframes show-bg-navbar-in {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(175, 53, 175, 0.8);
  }
}

