#background-image{
  background-image: url(../../../assets/bg_init.jpg);
  min-height:600px;
  position: relative;
  background-position: center center;
  background-size: cover;
}

#information{
  padding-top: 200px;
}
