<app-header></app-header>
<main>
  <!-- Portada -->
  <article class="m-0">
    <app-init></app-init>
  </article>

  <!-- Sobre mi -->
  <article>
    <app-about-me></app-about-me>
  </article>

  <!-- Proyectos -->
  <article>
    <app-proyects></app-proyects>
  </article>

  <!-- Conocimientos -->
  <article class="m-0">
    <app-knowledge></app-knowledge>
  </article>

  <!-- Contacto -->
  <article class="m-0">
    <app-contact></app-contact>
  </article>

</main>
<app-footer></app-footer>
