<app-header></app-header>
<main class="bg-dark">
  <!-- Portada -->
  <article id="init" class="m-0">
    <app-init></app-init>
  </article>

  <!-- Sobre mi -->
  <article id="about-me">
    <app-about-me></app-about-me>
  </article>

  <!-- Proyectos -->
  <article id="proyects">
    <app-proyects></app-proyects>
  </article>

  <!-- Conocimientos -->
  <article id="knowledge">
    <app-knowledge></app-knowledge>
  </article>

  <!-- Contacto -->
  <article id="contact" class="m-0">
    <app-contact></app-contact>
  </article>

</main>
<app-footer></app-footer>
