<div id="background-image">
  <div id="filter">
    <div class="container text-white position-relative top-50 start-0 translate-middle-y">
      <!-- Cabecera -->
      <div class="">
        <h2>Contacto</h2>
        <p>hazme llegar tu comentario, opinón, empleo...</p>
      </div>

      <!-- Formulario de contacto -->
      <form action="post" novalidate="novalidate" class="col-5 border border-primary rounded p-3">
        <div>

          <!-- Nombre y Telefono -->
          <div>
            <input type="text" value="Nombre" class="col-5">
            <input type="text" value="Teléfono" class="col-5">
          </div>

          <!-- Email-->
          <input type="email" value="Email" class="col-10">
        </div>

        <!-- Mensaje-->
        <textarea class="col-10">Escriba aqui su mensaje ...</textarea>

        <!-- Boton Enviar -->
        <div class="col-12">
          <input type="submit" value="Enviar">
        </div>
      </form>
    </div>
  </div>
</div>


