<div id="background-image">
  <div id="filter">
    <div class="container position-relative top-50 start-0 translate-middle-y">
      <!-- Cabecera -->
      <div class="">
        <h2>Contacto</h2>
        <p>hazme llegar tu comentario, opinón, empleo...</p>
      </div>

      <!-- Formulario de contacto -->
      <form  action="https://formsubmit.co/0b966f89f57842e05500e127931773e8" method="POST" class="col-5 border border-primary rounded p-3">
        <div>

          <!-- Nombre y Telefono -->
          <div>
            <input type="text" [placeholder]="'Nombre'" name="name" class="col-5" required>
            <input type="text" [placeholder]="'Teléfono'" name="telefono" class="col-5" required>
          </div>

          <!-- Email-->
          <input type="email" [placeholder]="'Email'" name="email" class="col-10" required>
        </div>

        <!-- Mensaje-->
        <textarea class="col-10" [placeholder]="'Escriba aqui su mensaje ...'" name="message" required></textarea>

        <!-- Boton Enviar -->
        <div class="col-12">
          <input type="submit" value="Enviar" class="btn btn-primary-light btn-outline-secondary-light">
        </div>
        <input type="hidden" name="_subject" value="Portafolios - Nuevo mensaje">
        <input type="hidden" name="_next" value="http://localhost:4200">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_template" value="table">
      </form>
    </div>
  </div>
</div>


